@tailwind base;
@tailwind components;
@tailwind utilities;

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.text-stroke {
  -webkit-text-stroke: 1px rgba(255,255,255,0.2);
}

.text-stroke-dark {
  -webkit-text-stroke: 1px rgba(0,0,0,0.1);
}
